.map{
    height: 100%;
    background-color: rgb(236, 236, 236);
    padding: 7px;
    border-radius: 15px;
    opacity: 0.1;
    margin: 1em;
    margin-right: 2em;
}

.map.active{
    opacity: 1;
    transition: opacity .5s;
}