.sidebar {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
.sidebar :hover{
    transition: color 1s, background-color .5s;
    color: white;
    font-weight: 400;
  
  }

.nav{
    padding: .8em .5em .2em .5em;
    border-bottom: 1px rgba(0, 0, 255, 0)  solid
}

.nav.active{
    transition: color .5s;
    border-bottom: 3px orangered solid;
    color: orangered;
    transition: color 1s, border-bottom .7s;
 }

 .nav.active:hover{
    color: white;
    border-bottom: 3px orange solid;
}

.menu{
    position: fixed;
    left: 50px;
    top: 50px;
    opacity: 1;
}

@media screen and (orientation:portrait) {
    .sidebar{
        position: fixed;
        left: 0;
        transform: translateX(-250px);
        top:-20px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        transition: transform 1s;
        padding-top: 200px;
    }   
    .sidebar.show{
        transform: translateX(-20px);
        transition: transform 1s;
    }
}


